* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ededed;
    background-image: url(../img/pinkflower.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.Animate {
    animation-name: emerge ;
    animation-delay: none;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    background-color: #ededed;
    filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 0.2));
    z-index: 100;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.navbar a {
    align-self: center;
    display: block;
    width: 70%;
}

.headerlogo {
    display: block;
    width: 7.7%; 
    height: auto;
    margin-left: 10%;
    float: left;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-self: center;
}
  
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0% 15%;
}

nav  ul  li  a {
    text-decoration: none;
    color: #50b848;
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 140%;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #f06ca9;
}

/* HOME */
.imagecontainer {
    position: relative;
    width: 100%;
    max-width: 100%; 
    overflow: hidden;
}

.garden {
    max-width: 100%;
    height: auto;
    display: block;
    border: none; 
    opacity: 85%;
}

.coloroverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(246, 177, 207, 0.5), rgba(240, 108, 169, 0.6));

  }

.homeoverlaytext {
    position: absolute;
    /* top: 45%;
    left: 27%; */
    top: 43%;
    left: 10%;
    /* transform: translate(-20%, -150%); */
    color: white;
    font-size: 350%;
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* text-align: left; */
    text-align: center;
    display: flex;
    text-shadow: 1px 2px 3px #333;
  }

.homeoverlaytext2 {
    position: absolute;
    top: 59%;
    left: 13%;
    /* transform: translate(50%, -15%); */
    color: white;
    font-size: 200%;
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    display: flex;
    text-shadow: 1px 2px 3px #333;
  }

  .buy-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
  }
  
  .buy-button a {
    font-family: "Poppins", sans-serif;
    font-size: 1.5625em;
    color: white;
    font-weight: 600;
    letter-spacing: 0.0625em;
    text-decoration: none;
    padding: 0.625em;
    background: #50b848;
    border: 0.0625em solid #50b848;
    border-radius: 0.1875em;
  }
  
  .buy-button a:hover {
    box-shadow: 1px 2px 5px #333;
  }

.introduction h2 {
    color: black;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 180%;
    display: flex;
    text-align: left;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 3%;
    /*text-align: justify;*/
  }

.heading1{
    color: #50b848;
    font-family: "Platypi", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    display: flex;
    text-align: left;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 4%;
    margin-bottom: 1%;
    /* animation: neon-animation infinite;
    animation-delay: 2.5s;
    animation-duration: 3.5s;
    animation-fill-mode: forwards; */
    text-shadow: 1px 2px 3px #333;
  }


.heading2 {
    color: #50b848;
    font-family: "Platypi", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin-top: 4%;
    margin-bottom: 2%;
    /* animation: neon-animation infinite;
    animation-delay: 2.5s;
    animation-duration: 3.5s;
    animation-fill-mode: forwards; */
    text-shadow: 1px 2px 2px #333;
}

p {
    color: black;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 150%;
    display: flex;
}

.rowbody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}

/* .left {
    margin-left: 15%;
} */

.textcontainer{
    display: inline-block;
    flex-grow: 3;
    width: 50%;
} 

.pcenter {
    display: flex;
    text-align: left;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 5%;
}
  
.bodyimagecontainer{
    flex-grow: 1;
    display: inline-block;
}

/* .right {
    margin-left: 50%;
} */

.pright {
    text-align: left;
    margin-right: 30%;
    margin-bottom: 2%;
}

.statistic {
    max-width: 2769px;
    width: 75%;
    height: auto;
    margin-left: 10%;
}

.factsbox{
    margin-left: 10%;
    width: 35%;
}

#support {
  color: #f06ca9;
  margin-top: 1%;
  margin-bottom: 5%;

}

/* RESOURCES */
.resource-overlaytext {
    position: absolute;
    /* top: 45%;
    left: 27%; */
    top: 45%;
    left: 40%;
    /* transform: translate(-20%, -150%); */
    color: white;
    font-size: 350%;
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* text-align: left; */
    text-align: center;
    display: flex;
} 

.rowbody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
  }

  .heading3{
    color: #f6b1cf;
    font-family: "Platypi", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    display: flex;
    text-align: left;
    margin-left: 25%;
    margin-right: 16%;
    margin-top: 4%;
    margin-bottom: 1%;
  }

  .heading4{
    color: #50b848;
    font-family: "Platypi", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    display: flex;
    text-align: left;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 4%;
    margin-bottom: 1%;
  }

.textcontainer{
    display: inline-block;
    flex-grow: 3;
    width: 50%;
  }



/* ul li {
color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  margin-bottom: 2%;
} */



.right-list {
    text-align: left;
    margin-left: 30.5%;
    /* margin-left: 30.5%;
    margin-right: 12.5%; */
}

.left-list {
    text-align: left;

}


.greenflowerbox{
    margin-left: 12.5%;
    width: 15%;
    margin-right: .5%;

}

.gflower {
    max-width: 1513px;
    width: 100%;
    height: auto;
    margin-top: 8%;
}

.pinkflowerbox {
    width: 15%;
}

.pflower {
    max-width: 1513px;
    width: 100%;
    height: auto;
}

/* FOOTER */
.footer {
    background: linear-gradient(rgba(136, 197, 64, 0.8), rgba(80, 184, 72, 0.8));
    padding: 3% 0;
    margin-top: 3%;
  }

.footercontainer {
    max-width: 1170px;
    /*background-color: rgb(153, 216, 153);*/
    margin: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footerlogo {
    display: block;
    width: 5%; 
    margin-left: 8%;
    height: auto;
    float: left;
}

hr {
  display: block;
  border: 0;
  margin: 10px 0;
  background: #949494;
  height: 0.5px;
  width: 75%;
  margin-top: 5.9%;
}

ul {
    list-style: none;
}

.footer-menu {
    width: 25%;
    padding: 0 2%;
    line-height: 2;
    padding-left: 10%;
  }

  .footer-menu  h3 {
    color: black;
    font-family: "Platypi", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 140%;
    margin-bottom: 5%;
    margin-top: 5%;
  } 

  /* .footer-menu a h3 {
    color: white;
    font-family: "finalsix", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 140%;
    margin-bottom: 5%;
    margin-top: 5%;
  }  */

  .footer-menu  ul  li {
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 105%;
    cursor: pointer;
    text-decoration: none;
  }
  
  .footer-menu  ul  li:hover {
    color: #f06ca9;
  }
  
  .footer-menu  ul  li  a {
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
    text-decoration: none;
  }
  
.footer-menu  ul  li  a:hover {
    color: #f06ca9;
  } 

  .copyright > p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 80%;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 6%;
    color: white;
  }

/* KEYFRAMES */

  @keyframes emerge {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

@keyframes neon-animation {
    60% {
        color: #50b848; 
        text-shadow: 0 0 15px #88c540, 0 0 25px #88c540, 0 0 35px #88c540;
    }
    90% {
        color: #50b848; 
        text-shadow: none;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 960px) {
    .buy-button {
        width: 100%;
      }

}

  @media screen and (max-width: 800px) {
    nav  ul {
      height: 120px;
      flex-direction: column;
      text-align: center;
    } 
  
    nav > ul > li > a {
      font-size: 130%;
    }
  
    .navbar {
      width: 100%;
      height: 15vh;
      margin: auto;
      align-items: center;
    }
  
    .headerlogo {
      width: 20%; 
      height: auto;
      margin-left: 55%;
      float: center; 
    }
  }

  @media (max-width: 700px) {
  
    .headerlogo {
      width: 20%; 
      height: auto;
      margin-left: 55%;
      float: center; 
    }
    
    .homeoverlaytext {
      font-size: 65%;
      left: 33%;
      text-align: center;
      align-items: center;
    }

    .homeoverlaytext2 {
        top: 55%;
        font-size: 55%;
        text-align: center;
      }

  }

  @media (max-width: 620px) {
  
    .headerlogo {
      width: 20%; 
      height: auto;
      margin-left: 55%;
      float: center; 
    }
    
    .homeoverlaytext {
      font-size: 65%;
      left: 33%;
      text-align: center;
      align-items: center;
    }

    .homeoverlaytext2 {
        top: 55%;
        font-size: 55%;
        text-align: center;
      }

  }

/* KEYFRAMES */

  /* @keyframes buy-button {
    from {
      width: 45%;
  }
    to {
    transform: scale(70%);
    }
  } */

