* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: #ededed;
}

.Animate {
	animation-name: emerge;
	animation-delay: none;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.header {
	position: sticky;
	top: 0;
	background-color: #ededed;
	filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 0.3));
	z-index: 100;
}

.navbar {
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navbar a {
	align-self: center;
	display: block;
	width: 70%;
}

.headerlogo {
	display: block;
	width: 7.7%;
	height: auto;
	margin-left: 10%;
	float: left;
}

nav ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-self: center;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0% 15%;
}

nav ul li a {
	text-decoration: none;
	color: #50b848;
	font-family: "Libre Baskerville", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 140%;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: #f06ca9;
}

p {
	font-size: 145%;
	font-family: "poppins", sans-serif;
}

.imagecontainer {
	position: relative;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

.goldengatepark {
	max-width: 100%;
	height: auto;
	display: block;
	border: none;
	opacity: 85%;
}

.coloroverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(246, 177, 207, 0.5), rgba(240, 108, 169, 0.6))
}

.resource-overlaytext {
	position: absolute;
	top: 45%;
	left: 10%;
	color: white;
	font-size: 350%;
	font-family: "Libre Baskerville", sans-serif;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	display: flex;
	text-shadow: 1px 2px 3px #333;
}

.rowbody {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.rowbodyreverse {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.heading1 {
	color: #f06ca9;
	font-family: "Platypi", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2rem;
	display: flex;
	text-align: left;
	margin-left: 27%;
	margin-right: 16%;
	margin-top: 4%;
	margin-bottom: 2%;
	text-shadow: 1px 2px 2px #333;
}

.heading2 {
	color: #50b848;
	font-family: "Platypi", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2rem;
	display: flex;
	text-align: left;
	margin-right: 16%;
	margin-top: 4%;
	margin-bottom: 2%;
	text-shadow: 1px 2px 2px #333;
}

.textcontainer {
	display: inline-block;
	width: 50%;
}

.bodyimagecontainer {
	display: inline-block;
}

.right-list {
	text-align: left;
	margin-left: 4%;
	margin-right: 26%;
	margin-bottom: 2%;
}

.right-list2 {
	text-align: left;
	margin-left: 8%;
	margin-right: 26%;
	margin-bottom: 2%;
}

.left-list {
	text-align: left;
	margin-left: 31%;
	margin-bottom: 2%;
}

.greenflowerbox {
	width: 15%;
	margin-right: 14%;
}

.gflower {
	max-width: 1513px;
	width: 100%;
	height: auto;
	margin-top: 15%;
}

.pinkflowerbox {
	margin-left: 14%;
	width: 15%;
}

.pflower {
	max-width: 1513px;
	width: 100%;
	height: auto;
	margin-top: 15%;
}


.footer {
	background: linear-gradient(rgba(136, 197, 64, 0.8), rgba(80, 184, 72, 0.8));
	padding: 3% 0;
	margin-top: 3%;
}

.footercontainer {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footerlogo {
	display: block;
	width: 5%;
	margin-left: 8%;
	height: auto;
	float: left;
}

hr {
	display: block;
	border: 0;
	margin: 10px 0;
	background: #949494;
	height: 0.5px;
	width: 75%;
	margin-top: 5.9%;
}

ul {
	list-style: none;
}

.footermenu {
	width: 25%;
	padding: 0 2%;
	line-height: 2;
	padding-left: 10%;
}

.footermenu h3 {
	color: black;
	font-family: "Platypi", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 140%;
	margin-bottom: 5%;
	margin-top: 5%;
}

.footermenu ul li {
	color: white;
	font-family: "poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 105%;
	cursor: pointer;
	text-decoration: none;
}

.footermenu ul li:hover {
	color: #f06ca9;
}

.footermenu ul li a {
	color: white;
	font-family: "poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 100%;
	text-decoration: none;
}

.footermenu ul li a:hover {
	color: #f06ca9;
}

.copyright>p {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 80%;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 6%;
	color: white;
}

@keyframes emerge {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}

@media screen and (max-width: 800px) {
	nav ul {
		height: 110px;
		flex-direction: column;
		text-align: center;
	}
	nav ul li a {
		font-size: 130%;
	}
	.navbar {
		width: 100%;
		height: 15vh;
		align-items: center;
	}
	.headerlogo {
		width: 20%;
		margin-left: 55%;
		float: center;
	}
}

@media screen and (max-width: 850px) {
	.footermenu {
		width: 50%;
		margin-bottom: 25px;
	}
	.resource-overlaytext {
		top: 30%;
		left: 25%;
		font-size: 300%;
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	.headerlogo {
		width: 20%;
		margin-left: 55%;
	}
	.resource-overlaytext {
		top: 30%;
		left: 25%;
		font-size: 300%;
		text-align: center;
	}
}

@media screen and (max-width: 625px) {
	.resource-overlaytext {
		top: 30%;
		left: 25%;
		font-size: 300%;
		text-align: center;
	}
	.introduction h2 {
		font-size: 140%;
	}
	.heading1 {
		font-size: 1.6rem;
	}
	.heading2 {
		font-size: 1.6rem;
		margin-left: 15%;
	}
	.rowbody {
		flex-direction: column;
	}
	.rowbodyreverse {
		flex-direction: column-reverse;
	}
	.textcontainer {
		width: 100%;
	}
	.bodyimagecontainer {
		width: 100%;
		margin-left: 0;
		margin-top: 7%;
	}
	.left-list {
		width: 80%;
		margin-left: 15%;
	}
	.right-list {
		width: 80%;
		margin-left: 15%;
	}
	.right-list2 {
		width: 80%;
		margin-left: 16%;
	}
	.footermenu {
		width: 100%;
		text-align: center;
	}
	.footerlogo {
		display: none;
	}
	hr {
		width: 100%;
	}
}